[tool.poetry]
name = "aws-fortuna"
version = "0.1.1"
description = "A Library for Uncertainty Quantification."
authors = ["Gianluca Detommaso <gianluca.detommaso@gmail.com>"]
license = "Apache-2.0"
readme = "README.rst"
documentation = "https://aws-fortuna.readthedocs.io/en/latest/"
packages = [{include = "fortuna"}]

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
flax = "^0.6.2"
optax = "^0.1.3"
tensorflow-datasets = "^4.7.0"
matplotlib = "^3.6.2"
jupyter = "^1.0.0"
ipykernel = "^6.17.1"
Sphinx = { version = "^5.3.0", optional = true }
sphinx-autodoc-typehints = { version = "^1.19.5", optional = true }
nbsphinx = { version = "^0.8.10", optional = true }
sphinxawesome-theme = { version = "^3.3.7", optional = true }
nbsphinx-link = { version = "^1.3.0", optional = true }
tqdm = "^4.64.1"
numpy = "^1.23.4"
tensorflow-cpu = "^2.11.0"

[tool.poetry.extras]
docs = ["Sphinx", "sphinx-autodoc-typehints", "nbsphinx", "sphinxawesome-them", "nbsphinx-link"]

[tool.poetry.group.dev.dependencies]
tensorstore = "^0.1.28"
traitlets = "^5.5.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
