[tool.poetry]
name = "fortuna"
version = "0.1.0"
description = "A Library for Uncertainty Quantification."
authors = ["AWS <detomma@amazon.com>"]
license = "Apache-2.0"
readme = "README.rst"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
flax = "^0.6.2"
optax = "^0.1.3"
tensorflow-datasets = "^4.7.0"
matplotlib = "^3.6.2"
jupyter = "^1.0.0"
ipykernel = "^6.17.1"
Sphinx = "^5.3.0"
sphinx-autodoc-typehints = "^1.19.5"
nbsphinx = "^0.8.10"
sphinx-gallery = "^0.11.1"
sphinxawesome-theme = "^3.3.7"
nbsphinx-link = "^1.3.0"
tqdm = "^4.64.1"
numpy = "^1.23.4"
tensorflow = "^2.11.0"
sphinx-rtd-theme = "^1.1.1"

[tool.poetry.group.dev.dependencies]
tensorstore = "^0.1.28"
traitlets = "^5.5.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
