name: Run Tests
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Select the Python versions to test against
        python-version: ['3.8', '3.9', '3.10']
    steps:
      - name: Check out the code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      # Install Poetry
      - name: Install Poetry
        uses: snok/install-poetry@v1.3.3
        with:
          version: 1.4.0

      # Configure Poetry to use the virtual environment in the project
      - name: Setup Poetry
        run: |
          poetry config virtualenvs.in-project true

      # Install the dependencies
      - name: Install Package
        run: |
          poetry install --all-extras

      # Run the unit tests and build the coverage report
      - name: Run Tests
        run: poetry run pytest --cov=ciclo --cov-report=term-missing --cov-report=xml


